
body {
  margin: 0;
  background-color: #f2ebe2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
  background-color: #f2ebe2;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
  font-size: 17px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-weight: bold;
  height: 50px;
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.nav-links li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translateY(-50%);
  height: 20px;
  width: 1px;
  background-color: #a48254;
}

.nav-links li a {
  color: #a48254;
  text-decoration: none;
  padding: 15px;
  transition: 0.3s;
}

.nav-links li a:hover {
  background-color: #c9b397;
}

.nav-links li:last-child {
  margin-left: 0;
  margin-right: 50px;
}

.nav-links li:not(:last-child) {
  border-right: 1px solid #443015; 
}

.background-image {
	
	background-image: url('../images/back.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	margin-bottom: 0;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
}

.blurry-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(13px);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.blurry-text h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 20px;
  z-index: 100000;
  color: #c8b8a7;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid #a48254;
}

.join-button {
  position: absolute;
  background-color: #784d38;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-decoration: none;
  font-weight: 50;
}

.join-button:hover {
  background-color: #443015;
}

.about-us-container {
  background-color: #f2ebe2;
  position: relative;
  top: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items at the start of the cross axis */
  padding-bottom: 100px; /* Add padding-bottom to ensure space for the button */
  height: auto;
}

.about-us-text {
  flex: 1;
  padding: 15px;
}

.about-us-img {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.about-us-img img {
  width: 700px;
  height: 20;
  height: auto;
  border-radius: 15px;
}

.about-us-text #heading {
  display: inline-block;
  
  border-radius: 50px;
  color:#443015;
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 15px;
  border-bottom: 4px solid #784d38; /* Add a thick line underneath the heading */
  padding-bottom: 10px; 
}

.about-us-text p {
  max-width: 600px;
  color:#443015;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding:5px;
  background-color: #f2ebe2;
  border-radius: 15px;
}


.last-text {
  display: flex;
  margin-top: 20px;
 
}


.last-text h3 {
  color: #443015;
  font-size: 60px;
  font-weight: 700;
}

.last-text h5 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  border: 4px solid #784d38;
  border-radius: 10px; /* Add rounded corners */
  padding: 10px 10px; /* Add padding for spacing */
  margin-top: 20px; /* Adjust margin */
  margin-right: 20px;
  margin-left: 20px;
}


.services-container {
  background-color: #f2ebe2;
  position: relative;
  top: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items at the start of the cross axis */
  margin-top: 20px;
  padding-top: 50px; /* Add padding-top to create space above the button */
  padding-bottom: 100px; /* Add padding-bottom to ensure space for the button */
  height: auto; /* Set height to auto to accommodate content */
}

.service-header{
  text-align: center;
  background-color: #b0a695;
  margin-bottom: 50px;
  width: 100%;
  font-size: 24px; 
  color: #060200; 
  position: relative;
  top: 1px;
  font-family: 'Times New Roman', Times, serif;
}


.service {
  height: 300px;
  width: 250px;
  margin: 30px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px; 
  bottom: 30px;
  border-radius: 15px;
  line-height: 1.5;
  border:4px solid #443015;
  transition: box-shadow 0.3s, transform 0.3s; /* Add transition for transform */
  position: relative;
}

.border-dashed {
  border: 4px solid #b0a695;
  transition: transform 0.3s; /* Add transition for transform */
  position: absolute; /* Position the dashed border relative to the parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* Ensure the dashed border does not interfere with mouse events */
  border-radius: 10px;
}

.service:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  transform: translateY(-15px); /* Slightly pop up */
}

.service:hover .border-dashed {
  transform: rotate(10deg); /* Rotate the dashed border */
}

.service h3 {
  margin-bottom: 10px;
}

.service p {
  margin: 0; 
}

.service-button {
  background-color:#b0a695;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  transition: background-color 0.3s;
  position:absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-weight: 50;
}

.service img{
  width: 50px;
}

.service-button:hover {
  background-color:#776b5d;
}

.border-dashed {
  transition: transform 0.3s; /* Add transition for transform */
}

.card-contianer{
  background-color: #f2ebe2;
  position: relative;
  top: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items at the start of the cross axis */
  margin-top: 20px;
  padding-top: 50px; /* Add padding-top to create space above the button */
  padding-bottom: 100px; /* Add padding-bottom to ensure space for the button */
  height: auto;
}

.card-contianer h2{
  text-align: center;
  padding: 25px;
  background-color:#b0a695;
  margin-bottom: 50px;
  width: 100%;
  font-size: 33px; 
  color: #060200; 
  position: relative;
  top: 1px;
  font-family: 'Damein' cursive;
}

.card{
  width:325px;
  background-color: #ebe3d5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 8px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}

.card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  transform: translateY(-15px); /* Slightly pop up */
}

.card img{
  width: 100%;
  height: auto;
}

.card-content{
  padding: 16px;
  background-color: rgba(119, 55, 55, 0.3);
}

.card-content h3{
  text-align: center;
}

.card-content p{
  color: #140c02;
  font-size: 17px;
}

.card-content .event-button {
display: inline-block;
padding: 8px 16px;
background-color: #dcd1c3;
border-radius: 4px;
margin-top: 16px;
color: #060200;
text-decoration: none;
}


.loc-container{
  background-color: #f2ebe2;
  position: relative; 
  top: 600px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.loc-header{
  display: inline;
  background-color: #b0a695;
  text-align: center;
  width: 100%;
  font-size: 24px; 
  color: #060200; 
  border-radius: 10px;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}

.location {
  margin: 20px 20px;
  text-align: center;
}

.loc iframe {
  width: 400px;
  height: 400px; 
  margin: 20px;
}

.loc h3{
  background-color: #b0a695;
  padding: 5px 5px;;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  justify-content: center;
  color:black;

}

.container{
	max-width: 1100px;
	margin:auto;
  position: relative; 
  top:25px; 

}
.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer {
  background-color:#b0a695;
  padding: 40px 0px;
  position: relative;
  top: 700px;
  
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  text-align: left;
}

.footer-col h4 {
  font-size: 20px;
  color:black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  text-align: center; 
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  background-color:black;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  transform: translateX(-50%); /* Center the line */
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links {
  text-align: center; /* Center-align the social links */
}

.footer-col .sponser-logos {
  text-align: center; /* Center-align the social links */
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}


.footer-col .social-links  img {
  width: 100%; /* Adjust the width to fit the circle */
  height: 100%; /* Adjust the height to fit the circle */
  border-radius: 50%; /* Ensure the image is circular */
}

.footer-col .sponser-logos  img {
  width: 90px; /* Adjust the width of the sponsor images */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  margin-right: 10px; /* Add margin between the sponsor images */
}


.email-link {
  margin-top: 20px; /* Adjust as needed */
  margin-left: 35px;
}

.email-link a {
  background-color: #000000;
  border-radius: 15px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  color: #dcd1c3;
  transition: background-color 0.3s;
}

.email-link a:hover {
  background-color: #ffffff;
  color: black; 
}


.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
